/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

/* Fonts */
/**
 * Usage
 * ----------------------------
 * font-family: 'MetricHPE';
   font-weight: 600;
   font-style: normal;
 * ----------------------------
 */
 @font-face {
    font-family: 'Euclid FA';
    src: url('fonts/EuclidFA.eot');
    src: url('fonts/EuclidFA.eot?#iefix') format('embedded-opentype'),
        url('fonts/EuclidFA.woff2') format('woff2'),
        url('fonts/EuclidFA.woff') format('woff'),
        url('fonts/EuclidFA.ttf') format('truetype'),
        url('fonts/EuclidFA.svg#EuclidFA') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* Creative */
.main-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 600px;
    box-sizing: border-box;
    background-color: #373737;
    border: 1px solid #000000;
    overflow: hidden;
    opacity: 0;
}
/* BG image wrapper. */
.absolute_100 {
    position: absolute;
    height: 100%;
    width: 100%;
}
.bg_border {
    position: absolute;
    border: 5px solid white;
    box-sizing: border-box;
    border-style: solid;
    width: 298px;
    height: 249px;
    z-index: 2;
}

#bg_container {
    position: absolute;
    width: 300px;
    height: 250px;
    /* overflow: hidden; */
}
.bg {
    position: absolute;
    background-size: cover;
    width: 300px;
    height: 250px;
    
}


#background_exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
}

#cta_exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    opacity: 0;
}

.pure_center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#fan_rotate {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-origin: bottom center;
    transform: rotate(185deg);
    top: -70px;
    left: 7px;
}
#fan_parent {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: -10px;
    opacity: 0;
}
.fan_square {
    position: absolute;
    height: 43px;
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 19%);
    transform-origin: 31px 21px;
    font-family: 'Euclid FA';
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 3.1px;
    bottom: 40px;
    left: 128px;
    z-index: 1;
    opacity: 1;
}
#fan_1 {
    background-color: #68A34C;
    transform: rotate( 116deg);
    position: absolute;
    width: 500px;
    opacity: 1;
    
}
#fan_2 {
    background-color: #E6001E;
    transform: rotate( 95deg);
    position: absolute;
    width: 468px;
   
}
#fan_3 {
    background-color: #8CD0E5;
    transform: rotate( 107deg);
    position: absolute;
    width: 424px;
}
#fan_4 {
    background-color: #8CD0E5;
    transform: rotate( 55deg);
    position: absolute;
    width: 312px;
}
#fan_5 {
    background-color: #C8DAA5;
    transform: rotate( 70deg);
    position: absolute;
    width: 540px;
}
#fan_6 {
    background-color: #DFB953;
    transform: rotate( 80deg);
    position: absolute;
    width: 554px;
}
#fan_7 {
    background-color: #002856;
    transform: rotate( 74deg);
    position: absolute;
    width: 390px;
    
}
#fan_8 {
    background-color: #68A34C;
    transform: rotate( 91deg);
    position: absolute;
    width: 464px;
}
.text_center {
    text-align: center;
    width: 100%;

}

#fan_hole {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 149px;
    top: 526px;
    z-index: 2;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
}

#top_left_shape {
    position: absolute;
    top: -52px;
    left: -52px;
    opacity: 0;
}
#bottom_right_shape {
    position: absolute;
    bottom: -60px;
    right: -179px;
    opacity: 0;
}

.end_copy {
    font-family: 'Euclid FA';
    font-size: 36px;
    color: #ffffff;
    letter-spacing: 3.1px;
}

#shapes_container {
    top: 0;
}

#cta_end_container {
    position: absolute;
    bottom: 180px;
    left: 66px;
    /* right: 0; */
    /* margin: auto; */
    with: 300px;
}