@font-face {
    font-family: 'Euclid FA';
    src: url('EuclidFA.eot');
    src: url('EuclidFA.eot?#iefix') format('embedded-opentype'),
        url('EuclidFA.woff2') format('woff2'),
        url('EuclidFA.woff') format('woff'),
        url('EuclidFA.ttf') format('truetype'),
        url('EuclidFA.svg#EuclidFA') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

